@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    background-image: linear-gradient( hsl(273, 62%, 37%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    max-width: 800px;
    margin: 150px 10vw;
    padding: 30px;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    filter: drop-shadow(0px 20px 20px #27008185);
}

.image-container {
    margin: auto;
    position: relative;
    right: 15px;
    bottom: 105px;
    height: 0px; 
 }

.m-image {
    display: block;
    width: 100%;
    max-width: 500px; /*actual image width*/
    max-width: 261px;
    height: auto; /* maintain aspect ratio*/

    
 }

.m-image-shadow {
    position:relative;
    bottom: 100px;
    left: 28px;
}

.d-image, .d-image-shadow, .d-box{
    display: none;
}

.faq-container {
    margin-top: 100px;
}

h1 {
    text-align: center;
    color: hsl(237, 12%, 33%);
}

.arrow-down {
    float: right;    
}

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


/* w3schools acordion css */
    /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: hsl(240, 6%, 50%);
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 0;
    font-weight: 300;
    font-size: medium;
    /* transition: 0.4s; */
  }

  .accordion:last-of-type {
      margin-bottom: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    color: hsl(237, 12%, 33%);
    font-weight: 700;
  }

    .accordion:hover {
    color: hsl(14, 88%, 65%);
    font-weight: 700;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: hsl(240, 6%, 50%);
  }

  /* Desktop styles */
  @media only screen and (min-width: 992px) {

    body, html {
        height: 100vh;
    }
    
    .card {
        display: flex;
        flex-direction: row; /*edit*/
        background-color: white;
        border-radius: 25px;
        max-width: 70%; /*edit*/
        margin: 100px auto; /*edit*/
        padding: 30px;
        justify-content: center;
        align-content: center;
        justify-content: space-between;
        /* overflow: hidden; */ /* this would also hide the orange box*/
    }

    .image-container {
        flex: 1; /* splits card in half */
        width: 50%;
        margin: 0;
        position: relative;
        right: 0px;
        bottom: 0px;
        height: 0px; 
     }
    
    .image-container img {
        /* display: block; */
        width: 100%;
        max-width: 500px; /*actual image width*/
        height: auto; /* maintain aspect ratio*/
     }
    
    .m-image, .m-image-shadow{
        display: none;
    }

    .d-image, .d-image-shadow, .image-container .d-box {
        display: block;
        position: relative;
    }
    
    .d-image {
        right: 120px;
        top: 40px;
    }
    
    .d-image-shadow {
        bottom: 370px;
        right: 120px;
    }

    .image-container .d-box {
        bottom: 700px;
        right: 150px;
        width: 200px;
    }

    .faq-container {
        flex: 1; /*splits card in half */
        margin-top: 0px; /*edit*/
    }

    h1 {
        text-align: left;
    }

    .accordion {
        padding-left: 0px;
        margin-right: 9.5%;
    }

}